<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846026419673-j959a9a1sbjsm8erq2i7ik7hr0icmj6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846026419673-j959a9a1sbjsm8erq2i7ik7hr0icmj6j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>846026419673-bina27qmkl0ute0rqb7hlp0rm04upqqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbnhLVVauS83T-3xyVJ_KdTlssuw6VB0g</string>
	<key>GCM_SENDER_ID</key>
	<string>846026419673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>capihair.cuthair</string>
	<key>PROJECT_ID</key>
	<string>pruebafirebase-44f30</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebafirebase-44f30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846026419673:ios:2133866bf94636e3d83dc8</string>
	<key>DATABASE_URL</key>
	<string>https://pruebafirebase-44f30.firebaseio.com</string>
</dict>
</plist>